* {
  margin: 0;
  padding: 0;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz@0,17..18;1,17..18&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/*home*/
.header {
  min-height: 100vh;
  min-width: 100%;

  background-size: cover;

}

.navbar {
  display: flex;
  padding: 0.5% 0.5%;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
}

.text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 120px;
}

.text h2 {
  font-family: "Google Sans", sans-serif;
  font-size: 32px;
  font-weight: lighter;
}

.text p {
  font-family: "IBM Plex Serif", serif;
  font-size: 24px;
}

/*about*/

.about {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(to left, #43434318, #424242); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

.about-content {
  display: flex;
}

.about-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
}

.about-image img {
  max-height: 100vh;
}

.line {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
}

.line h2 {
  font-family: "IBM Plex Serif", serif;
  font-size: 48px;
}

.line p {
  font-family: "Google Sans", sans-serif;
  font-size: 24px;
}

/*portfolio*/

.portfolio {
  min-height: 100vh;
  min-width: 100%;

  background-size: cover;
}

.portfolio h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 48px;
  font-family: "IBM Plex Serif", serif;
  text-align: center;
}

.gallery {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  /* Centers the whole grid */
  padding: 20px 10%;


}

.gallery img {
  width: 95%;
  height: auto;
  object-fit: fill;
  border-radius: 90%, 90%;

}